<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GroupManager [Dark UI]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/thomaspark/bootswatch@v3.4.1/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Newsletter-Subscription-Form.css">
</head>

<body style="background-color: rgb(54,54,54);">
    <nav class="navbar navbar-default" style="background-color: rgba(38,38,38,0.47);">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="index.html" style="color: rgb(201,201,201);"><i class="fa fa-group"></i>&nbsp;GroupManager</a><button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="index.html" style="color: rgb(224,222,222);">Home</a></li>
                    <li class="active" role="presentation"><a href="login.html" style="color: rgb(145,142,142);">Login</a></li>
					<li class="active" role="presentation"><a href="/register" style="color: rgb(145,142,142);">Register</a></li>
                    <li role="presentation"></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="jumbotron hero" style="background-image: url(&quot;assets/img/eGNkeoo.png&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"><img class="device" src="assets/img/s4.svg">
                        <div class="screen"></div>
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>GroupManager</h1>
                    <p>Create and join local groups, easily</p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="login.html"><i class="fa fa-user-plus"></i>&nbsp; Sign up</a><a class="btn btn-success btn-lg" role="button" href="login.html"><i class="fa fa-sign-in"></i>&nbsp;LOGIN</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center" style="color: rgb(200,186,186);">'Groupmanager is very good'</h2>
        <blockquote>
            <p style="color: rgb(190,182,182);">'wow so cool'</p>
            <footer>Famous tech website&nbsp;</footer>
        </blockquote>
    </section>
    <section data-aos="slide-right" class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Fantastic Features</h2>
                    <p>Create, find and join new groups today.&nbsp;</p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature" data-aos="fade-right" data-aos-delay="250"><i class="fa fa-group" style="font-size: 60px;"></i>
                            <p>Create new groups</p>
                        </div>
                        <div class="col-xs-4 icon-feature" data-aos="fade-down" data-aos-duration="350"><i class="fa fa-user-plus" style="font-size: 60px;"></i>
                            <p>Join new groups</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-fire" data-aos="fade-left" data-aos-duration="450"></i>
                            <p data-aos="fade-left" data-aos-duration="450">Fire-Proof</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5 style="color: rgb(214,213,213);">iframeSh0pl1ft3r5 (2019)</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="https://twitter.com/sh0pl1ft3r5"><i class="fa fa-twitter"></i></a></div>
            </div>
        </div>
    </footer>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5 style="color: rgb(214,213,213);font-size: 14px;">Thank you to HAC100 and Co-Op digital for making this possible.</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="https://twitter.com/hac_100"><i class="fa fa-twitter" style="color: rgb(255,199,0);"></i></a><a href="https://twitter.com/co-op"><i class="fa fa-twitter" style="color: rgb(29,190,225);"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="assets/js/untitled.js"></script>
</body>

</html>