            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center" style="color: rgb(200,186,186);"></h2>
    </section>
    <footer class="bounce animated site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5 style="color: rgb(214,213,213);">iframeSh0pl1ft3r5 (2019)</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="https://twitter.com/sh0pl1ft3r5"><i class="fa fa-twitter"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="assets/js/untitled.js"></script>
</body>

</html>