<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GroupManager [Dark UI]</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Newsletter-Subscription-Form.css">
</head>

<body style="background-image: url(&quot;assets/img/eGNkeoo.png&quot;);">
    <nav class="navbar navbar-default" style="background-color: rgba(15,41,94,0.68);">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="index.html" style="color: rgb(201,201,201);"><i class="fa fa-group"></i>&nbsp;GroupManager</a><button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="index.html" style="color: rgb(145,142,142);">Home</a></li>
                    <li class="active" role="presentation"><a href="login.html" style="color: rgb(145,142,142);">Login</a></li>
                    <li role="presentation"></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="login-clean" style="background-color: rgba(241,247,252,0);height: 518px;">
        <form method="post" style="background-color: rgba(28,28,28,0.49);" action="/register">
            <h2 class="sr-only">Register Form</h2>
            <div class="illustration" style="height: 127px;"><i class="material-icons" style="font-size: 100px;color: #c6c6c6;">lock</i></div>
            <input id="username" class="form-control" type="text" name="username" placeholder="Username" style="color: rgb(255,255,255);background-color: rgba(247,249,252,0);">
            <input id="email" class="form-control" type="email" name="email" placeholder="Email" style="color: rgb(255,255,255);background-color: rgba(247,249,252,0);">
            <input id="password" class="form-control" type="password" name="password" placeholder="Password" style="color: rgb(255,255,255);background-color: rgba(247,249,252,0);">
            <input id="confirmPassword" class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" style="color: rgb(255,255,255);background-color: rgba(247,249,252,0);">
            <button class="btn btn-primary btn-block" type="submit"  style="background-color: #1e1e1e;">Register</button>
            <a class="forgot" href="/login.html" style="color: rgb(177,177,177);">Already have an account? - &nbsp;Login now!</a>
          </form>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5 style="color: #b5b5b5;height: -10px;">iframeSh0pl1ft3r5 (2019)</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="https://twitter.com/sh0pl1ft3r5"><i class="fa fa-twitter"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
